.cast-container {
  display: flex;
  padding: 3em 0;
  gap: 20px
}

.movie-detailed-info {
  width: 23%;
  line-height: 30px;
  font-size: 14px;
  border-right: 1px solid #92B0B3
}

.movie-detailed-info img {
  width: 25px;
  height: 25px;
}

.cast-wrapper {
  width: 77%;
}

.actor-slider::-webkit-scrollbar {
  height: 6px;
}

.actor-slider::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 3px;
}

.movie-info-header {
  font-size: 24px;
}

.mrg-top {
  margin-top: 1em;
}

.actor-slider {
  display: flex;
  overflow-x: auto;
  gap: 1em;
  padding: 1em 0;
  scroll-snap-type: x mandatory;
  scrollbar-width: thin;
}

.actor-title {
  font-size: 24px;
}

.actor-card {
  width: 150px;
  min-height: 300px;
  background-color: #1B3A4E;
  border-radius: 5px;
}

.actor-card img {
  width: 150px;
  min-height: 225px;
  border-radius: 5px;
  object-fit: cover;
}

.actor-name,
.actor-role {
  display: block;
  width: 100%;
  font-size: 14px;
  margin: 4px 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
  color: #fff;
  padding: 0 0.5em;
}

.actor-name {
  font-weight: bold;
  margin-top: 0.5em;
}

.actor-name:hover,
.view-more:hover {
  color: rgba(255, 255, 255, .7);
}

.view-more {
  margin-top: 1em;
  float: right;
}

@media (max-width: 768px) {

  .cast-container {
    display: block;
  }

  .movie-detailed-info {
    width: 100%;
    border: none;
  }

  .cast-wrapper {
    width: 100%;
    margin-top: 3em;
  }
}