.footer {
    background-color: #ccc;
    color: #000;
    padding: 2rem;
    display: flex;
    justify-content: space-around;
    align-items: start;
}

.footer-title {
    font-size: 13px;
}

.footer-movies-container {
    display: flex;
}

.footer-link {
    font-size: 13px;
    color: #000;
    margin-right: .5em;
}

.footer-link:hover {
    text-decoration: underline;
    color: #3f3f3f;
}

.footer-social-link {
    color: rgba(0, 0, 0, .6);
    padding-right: .8em;
}

.footer-social-link img{
    width: 22px;
}