.footer {
    background-color: var(--bg-nav);
}

.footer-container {
    color: #fff;
    padding: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: start;
    width: 1440px;
    margin: 0 auto;
}

.footer-title {
    font-size: 13px;
}

.footer-movies-container {
    display: flex;
}

.footer-link {
    font-size: 13px;
    color: #fff;
    margin-right: .5em;
}

.footer-link:hover {
    text-decoration: underline;
}

.footer-social-link {
    padding-right: .8em;
}

.footer-social-link img{
    width: 22px;
}