.full-cast-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.cast-card {
    margin-top: 1em;
    display: flex;
    align-items: start;
    gap: 2em;
    background-color: rgba(0, 0, 0, .2);
    width: 100%;
    max-height: 180px;
    border-radius: 8px;
}

.cast-card-info {
    margin-top: 1em;
}

.cast-card img {
    max-width: 120px;
    height: 100%;
    border-radius: 8px;
}

.full-cast-hr {
    margin-top: 1em;
    opacity: .2;
}

@media (max-width: 768px) {
    .cast-card {
        width: 100%;
    }
}