.movie-details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    font-size: 14px;
    padding: 24px;
    border-radius: 16px;
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 1;
}

.bg-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    box-shadow: 0px 4px 20px 0px #13243426;
    overflow: hidden;
    object-fit: scale-down;
}

.bg-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 16px;
    opacity: 25%;
}

.no-bg-img {
    background-color: rgba(0, 0, 0, .35);
}

.bg-image::after {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(270deg, rgba(20, 35, 51, 0.7) 0%, rgba(12, 50, 64, 0.7) 50.48%, rgba(20, 35, 51, 0.7) 100%);
    z-index: 1;
    pointer-events: none;
}

.movie-poster-wrapper {
    position: relative;
    width: 25%;
    display: flex;
    flex-direction: column;
}

.movie-poster-wrapper img {
    height: 100%;
    width: 100%;
    border-radius: 8px;
}

.movie-desc {
    color: #fff;
    width: 50%;
}

.movie-director {
    margin: 1em 0;
}

.movie-director,
.movie-actors,
.actor-card-wrapper,
.movie-votes,
.movie-genres-wrapper {
    display: flex;
    align-items: center;
    gap: 1em;
}

.movie-genre,
.vote-average {
    background-color: rgba(0, 0, 0, .1);
    padding: .4em .7em;
    border-radius: 4px;
}

.low {
    background: var(--Rating-Red)
}

.high {
    background: var(--Rating-Green);
}

.mid {
    background: var(--Rating-Yellow);
}

.movie-overview {
    margin: 1em 0;
    padding: 8px 12px;
    background-color: rgba(0, 0, 0, .1);
    font-size: 18px;
}

.movie-rating {
    margin-top: 1em;
}

.movie-rating div {
    margin-bottom: 7px;
    display: flex;
    align-items: center;
}

.rating-star {
  width: 24px;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.rating-star:hover {
  transform: scale(1.2);
}

.movie-buttons {
    margin-top: 1em;
    display: flex;
    gap: 1em;
}

.movie-buttons button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    background: #142434;
    color: #E0FFF9;
    border: none;
    outline: none;
    width: 200px;
}

.movie-buttons button:hover {
    background: #101d29;
}

.movie-buttons .btn-clicked {
    background: #92B0B3;
    width: 50px;
}

.movie-buttons .btn-anim {
    animation: shrinkAndPulse 0.4s ease forwards;
}

.movie-buttons .btn-anim-back {
    animation: expandBack 0.4s ease forwards;
}

.hide-text {
    visibility: hidden;
    width: 0;
    height: 0;
    overflow: hidden;
    white-space: nowrap;
}

.movie-media  {
    width: 25%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 12px;
}

.movie-media img {
    width: 100%;
    min-height: 100px;
    display: block;
    object-fit: cover;
    border-radius: 8px;
    cursor: pointer;
}

.lightbox {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.9);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
  cursor: zoom-out;
}

.lightbox img {
  max-width: 90%;
  max-height: 90%;
  border-radius: 8px;
}

.close-lightbox {
  position: fixed;
  top: 30px;
  right: 40px;
  color: white;
  font-size: 3rem;
  cursor: pointer;
  z-index: 10000;
}

@media (max-width: 768px) {

    .movie-poster-wrapper {
        height: 100%;
        width: 100%;
    }

    .movie-poster-wrapper {
        height: 600px;
        width: 400px;
    }

    .movie-details {
        gap: 20px;
        height: 100%;
        width: 100%;
        flex-direction: column;
    }

    .movie-desc {
        width: 100%;
    }

    .movie-media {
        display: none;
    }
}

@keyframes shrinkAndPulse {
    0% {
        transform: scale(1);
        width: 200px;
        background-color: #142434;
    }
    50% {
        transform: scale(1.1);
        background-color: #325161;
    }
    100% {
        transform: scale(1);
        width: 50px;
        background-color: #92B0B3;
    }
}

@keyframes expandBack {
    0% {
        transform: scale(1);
        width: 50px;
        background-color: #92B0B3;
    }
    50% {
        transform: scale(1.1);
        background-color: #325161;
    }
    100% {
        transform: scale(1);
        width: 200px;
        background-color: #142434;
    }
}
