.movie-chart {
    display: grid;
    justify-content: center;
    align-items: center;
}

.movie-chart-item {
    display: flex;
    margin-top: 2em;
    background-color: rgba(0, 0, 0, .2);
    border-radius: 8px;
    min-height: 300px;
    overflow: hidden;
}

.movie-chart-item img {
    width: 200px;
    height: 300px;
    border-radius: 8px;
}

.chart-item-desc {
    padding: 1em 2em;
}

.chart-item-desc .movie-desc {
    width: 100%;
}

@media (max-width: 580px) {
    .movie-chart-item {
        flex-direction: column;
        align-items: center;
        padding-top: 1em;
        width: 100%;
    }
}