.movie-details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    padding: 24px;
    border-radius: 16px;
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 1;
}

.bg-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    box-shadow: 0px 4px 20px 0px #13243426;
    overflow: hidden;
}

.bg-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 16px;
}

.bg-image::after {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(270deg, rgba(20, 35, 51, 0.7) 0%, rgba(12, 50, 64, 0.7) 50.48%, rgba(20, 35, 51, 0.7) 100%);
    z-index: 1;
    pointer-events: none;
}

.movie-poster-wrapper {
    position: relative;
    width: 25%;
    display: flex;
    flex-direction: column;
}

.movie-poster-wrapper img {
    height: 100%;
    width: 100%;
    border-radius: 8px;
}

.movie-desc {
    color: #fff;
    width: 50%;
}

.movie-director {
    margin: 1em 0;
}

.movie-media {
    width: 25%;
}

.movie-director,
.movie-actors,
.actor-card-wrapper,
.movie-votes,
.movie-genres-wrapper {
    display: flex;
    align-items: center;
    gap: 1em;
}

.movie-genre,
.vote_average {
    background-color: rgba(0, 0, 0, .1);
    padding: .4em .7em;
    border-radius: 4px;
}

.low {
    background: var(--Rating-Red)
    
}

.high {
    background: var(--Rating-Green);
}

.movie-overview {
    margin: 1em 0;
    padding: 8px 12px;
    background-color: rgba(0, 0, 0, .1);
}

.movie-buttons {
    margin-top: 1em;
    display: flex;
    gap: 1em;
}

.movie-buttons button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    background: #142434;
    color: #E0FFF9;
    border: none;
    outline: none;
    width: 200px;
    transition: all .6s ease;
}

.movie-buttons button:hover {
    background: #101d29;
}

.btn-clicked {
    background: #92B0B3 !important;
    width: 50px !important;
}

.movie-media  {
    width: 25%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 12px;
}

.movie-media img {
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
    border-radius: 8px;
    cursor: pointer;
}

.lightbox {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.9);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
  cursor: zoom-out;
}

.lightbox img {
  max-width: 90%;
  max-height: 90%;
  border-radius: 8px;
}

.close-lightbox {
  position: fixed;
  top: 30px;
  right: 40px;
  color: white;
  font-size: 3rem;
  cursor: pointer;
  z-index: 10000;
}