.reviews-container {
  width: 100%;
  border-radius: 4px;
  padding: 3em 0;
}

.reviews-list {
  max-height: 450px;
  overflow-y: auto;
  padding-right: 1em;
  display: flex;
  flex-direction: column;
}

.reviews-list::-webkit-scrollbar {
  width: 6px;
}

.reviews-list::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 3px;
}

.movie-review {
  font-size: 14px;
  background-color: #0000001A;
  margin: .6em 0;
  padding: 1em;
  border-radius: 4px; 
}

.review-content {
  margin: 1em 0;
}

.review-link {
  font-style: italic;
  color: rgb(187, 187, 187);
}

.review-link:hover,
.show-more-reviews:hover {
  color: #fff;
}

.review-created {
  font-style: italic;
  font-size: 11px;
}