.similar-movies-container {
  overflow-y: auto;
  scroll-snap-type: y mandatory;
  scrollbar-width: thin;
  width: 25%;
  max-height: 900px;
  padding: 0 1em;
}

.similar-movies::-webkit-scrollbar {
  width: 6px;
}

.similar-movies::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 3px;
}

.similar-movies {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1.5rem;
  margin-top: 1rem;
}

.similar-movies .movie-card {
  max-height: 420px;
}

.similar-movies .movie-card .movie-poster{
  height: 77%;
  width: 100%;
}

@media (max-width: 768px) {
  .similar-movies-container {
    width: 100%;
    max-height: unset;
  }

  .similar-movies .movie-card {
    max-height: unset;
  }

  .similar-movies .movie-card .movie-poster{
    height: 77%;
    width: 100%;
  }
}