.similar-movies-container {
    padding: 3rem 5rem;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scrollbar-width: thin;
    width: 100%;
}

.similar-movies {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1rem;
    margin-top: 1rem;
}

.show-more-movies {
    height: 40px;
    align-self: center;
}