.user-info-wrapepr {
    display: flex;
    align-items: center;
    gap: 2em;
    background-color: rgba(0, 0, 0, .2);
    padding: 1em;
    border-radius: 8px;
}

.user-info-wrapepr img {
    width: 150px;
}

.user-button-wrapper {
    display: flex;
    gap: 1em;
    border-bottom: 1px solid var(--font-color-main);
    margin: 2em 0;
}

.user-button {
    background-color: unset;
}

.user-button:hover,
.user-button:focus {
    outline: none;
    border: none;
}

.user-button-active {
    color: #000;
    background-color: var(--font-color-main);
}